@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
    font-family: 'Roboto', sans-serif;
}
body{
    background: url(../imagens/roxo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}
.card{
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #16263F;
}
.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #16263F ;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-in-out;
    border-radius: 0;
}
.label-float input:focus{
    border-bottom: 2px solid #B1345C;
}
.label-float label{
    color: #16263F;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-in-out;
}
.label-float input:focus + label{
    font-size: 13px;
    margin-top: 0;
    color: #B1345C;
}
button{
    background-color: transparent;
    border-color: #16263F;
    color: #16263F;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-in-out;
}
button:hover{
    background: #B1345C;
    color: #fff;
    border-color:  #B1345C;
}
.justify-center{
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}
p{
    color: #16263F;
    font-size: 14pt;
    text-align: center;
}
a{
    color: #B1345C;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
a:hover{
    text-decoration: underline;
    color: #16263F;
}

